@model WebApplication1.Models.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillGeneratedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillGeneratedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
